body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Comfortaa', cursive;
    color: white;
    background-color: #BCC4D0;
}

.container-1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2 {
    margin: 50px;
}

.container-3 {
    background-color: #9094D4;
    padding: 50px 30px 20px 30px;
    border-radius: 20px;
}

.logo-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-title {
    margin: 30px 0px 20px 0px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.input-label {
    font-size: 19px;
    margin: 0px 0px 5px 0px;
}

input {
    margin-bottom: 40px;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 7px;
    outline: none;
    padding: 0px 10px;
    font-size: 16px;
}

.button-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 320px;
    background-color: #494974;
    color: white;
    font-family: 'Comfortaa', cursive;
    transition-duration: 0.2s;
}

.button:hover{
    background-color: #7070A5;
}

.cancel-block {
    text-align: center;
    text-decoration: underline;
}

.cancel-block a {
    color: white;
}

.error {
    text-align: center;
    width: 300px;
    font-size: 15px;
    margin: 0px 0px 30px 0px;
    color: red;
}



::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #BCC4D0;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 8px;
    border: 3px solid #BCC4D0;
}