body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Comfortaa', cursive;
    color: white;
    background-color: #BCC4D0;
}

.container-1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container-2 {
    width: 90%;
    margin: 20px 0px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-part {
    width: 100%;
    display: flex;
    align-items: center;
}

.header-right-part {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-title {
    margin-left: 10px;
}

.header-title p {
    margin: 0;
    font-size: 25px;
}

.header-title-part1 {
    font-weight: bold;
}

.profile-part {
    margin-left: 20px;
}

.profile-part-welcome {
    margin: 0px 0px 5px 0px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.profile-part a {
    margin: 0;
    color: blue;
}

.profile-part a p {
    margin: 8px 0px 0px 0px;
}

.profile-menu {
    margin: 50px 0px;
}

.profile-menu-title {
    margin: 0px 0px 15px 0px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.profile-menu-a {
    color: blue;
    font-size: 18px;
}

.profile-menu p {
    margin: 8px 0px 0px 0px;
}

.current-page {
    color: black;
    text-decoration: underline;
}

.current-page:hover {
    color: black;
    text-decoration: underline;
}

.thead-dark {
    background-color: lightseagreen;
}




.container-3 {
    margin-bottom: 30px;
}

.container-table {
    height: 250px;
    overflow-y: auto;
}

.input-label {
    font-size: 19px;
    margin: 0px 0px 5px 0px;
}

input {
    margin-bottom: 40px;
    width: 450px;
    height: 30px;
    border: none;
    border-radius: 7px;
    outline: none;
    padding: 0px 10px;
    font-size: 16px;
}

.input-numeric {
    width: 50px;
}

.input-street {
    width: 210px;
}

.button-block {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 450px;
    background-color: #494974;
    color: white;
    font-family: 'Comfortaa', cursive;
    transition-duration: 0.2s;
}

.button:hover{
    background-color: #7070A5;
}

.cancel-block {
    text-align: center;
    text-decoration: underline;
}

.cancel-block a {
    color: white;
}

.inputs-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.inputs-block-group {
    position: relative;
    width: 470px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.error {
    width: 300px;
    font-size: 13px;
    margin: 5px 0px 21px 0px;
    color: red;
}

.error-input {
    box-shadow: 0px 0px 10px red;
    margin: 0px;
}

.error-absolute {
    position: absolute;
    bottom: 0px;
}

.input-absolute {
    margin-bottom: 40px;
}

tbody tr {
    transition-duration: 0.2s;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #B5BBCA;
}



.button-block-myTickets {
    margin-top: 30px;
}

.button-myTickets {
    width: 250px;
    background-color: #494974;
    color: white;
    font-family: 'Comfortaa', cursive;
    transition-duration: 0.2s;
}

.button-myTickets:hover{
    background-color: #7070A5;
}


.button-tickets {
    margin: 0;
    width: 110px;
    background-color: #494974;
    color: white;
    font-family: 'Comfortaa', cursive;
    transition-duration: 0.2s;
}

.button-tickets:hover{
    background-color: #7070A5;
}

.filter {
    width: 100%;
    height: 50px;
    background-color: darkgrey;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-filter {
    width: 200px;
    margin: 0;
}

select {
    width: 150px;
    height: 25px;
    outline: none;
    border-radius: 10px;
    background-color: lightseagreen;
    color: white;
}

.hidden-row {
    display: none;
}



::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #BCC4D0;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 8px;
    border: 3px solid #BCC4D0;
}