body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Comfortaa', cursive;
    color: white;
    background-color: #BCC4D0;
}

.container-1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container-2 {
    width: 90%;
    margin: 20px 0px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-part {
    width: 100%;
    display: flex;
    align-items: center;
}

.header-right-part {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-title {
    margin-left: 10px;
}

.header-title p {
    margin: 0;
    font-size: 25px;
}

.header-title-part1 {
    font-weight: bold;
}

input[type="submit"] {
    margin-left: 20px;
    padding: 0px 20px;
    height: 30px;
    background-color: #494974;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 17px;
    transition-duration: 0.2s;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #7070A5;
}

.main-info {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ml-30 {
    margin-left: 30px;
}

.main-info-title {
    font-size: 30px;
    font-weight: bold;
}

.main-info-text {
    font-size: 18px;
}

.input-more {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

hr {
    margin: 70px 0px;
    border: none;
    width: 100%;
    height: 1px;
    background-color: white;
}

.price-title {
    font-size: 30px;
    font-weight: bold;
}

.service-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.profile-part {
    margin-left: 20px;
}

.profile-part-welcome {
    margin: 0px 0px 5px 0px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.profile-part a {
    margin: 0;
    color: blue;
}

.profile-part a p {
    margin: 8px 0px 0px 0px;
}


::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #BCC4D0;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 8px;
    border: 3px solid #BCC4D0;
}